<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action="chat" method="POST">
            Digite seu nome:
            <input type="text" name="user[nome]" />
            <button>Entrar</button>
        </form>
    </body>
</html>